<header class="header-area header-sticky" style="background-color: #312784;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <!-- <img style="width: 80px; height: 80px;" src="assets/images/ImageLogo.jpeg" alt="logo"> -->
                    <!-- <div style="border: 1px solid red;">
                        -->
                    <a href="/"> <img style="width: 140px; height: 80px" src="assets/images/logoNew.png" alt="logo" />
                    </a>
                    <!-- <div>KNOWLEDGE FOR BLUE PROSTERITY</div> -->
                    <!-- </div> -->
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <!-- <li>
                            <a href="board.html">Board</a>
                          </li>  -->
                        <li class="has-sub">
                            <a href="javascript:void(0)">Events</a>
                            <ul class="sub-menu">
                                <li><a href="event.html">Upcoming Events</a></li>
                                <li><a href="event-details.html">Events Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="courses.html">Programmes</a>
                        </li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>